.bg-black{
    background: #090909;    
    color: rgb(10, 190, 190);
} 

p{
    text-align: justify;
}

h1{
    color:rgb(240, 184, 240)
}

h3{
    color: rgb(8, 243, 79);
}

.card-project:hover{
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.5s;
    transform:translateY(-5px);
    
}

.shadow:hover{
    filter: drop-shadow(0.5rem 0.5rem 0.2rem rgb(233, 24, 233));
    cursor: pointer;
}

.home{
    background-image: url('./portafolio/homeFondo.png');
    background-repeat: no-repeat;
    background-position: right;    
    background-size: 4rem;
}


header{
    display: flex;
    justify-content: space-around;
}

.me-container{
    border-radius: 50%;    
    animation: animate 15s infinite alternate; 
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
}

@keyframes animate
{    
    0%{   
        transform: rotateY(0deg);        
        background-image: url('./portafolio/lucy.png');
        background-position: center;
        background-repeat: no-repeat;        
        background-size: 200px;         
    }100%{
        transform: rotateY(180deg);
        box-shadow: 0 0 35px #1e9bff;
        background-image: url('./portafolio/pythonFinal.png');
        background-position: center;
        background-repeat: no-repeat;        
        background-size: cover;         
    }       
    
}

.posts{
    background-image: url('./portafolio/python1.png');
}

footer{
    display: flex;
    flex-direction: column;    
    padding: 1rem 0;
    text-align: center;
    background-color: rgba(95, 92, 92, 0.24);
}

footer hr{
    color: rgb(155, 155, 82);
}

footer p{
    font-style: italic;
    color: rgb(114, 112, 112);
    font-size: .75rem;
}

.socials-container{
    letter-spacing: 2rem;
}

.socials-container img{
    height: 2rem;
}

.socials-container img:hover{
    rotate: -30deg;
    transform: translateY(-5px);    
    transition: 1s;
}